.App {
    padding: 40px;
}

h3 {
    text-transform: uppercase;
}

.point {
    display: flex;
}

.time {
    display: flex;
}
  
.hidden {
    opacity: 0; /* Hoặc dùng display: none; nếu bạn không muốn thẻ còn chiếm không gian */
    transition: opacity 2s ease-out;
}
